<!DOCTYPE html>
<html lang="en">
<link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    {% block title -%}
    {% if title -%}
    <title>Про Flask - {{ title }}</title>
    {% else %}
    <title>Про Flask</title>
    {% endif %}
    {% endblock %}
</head>
<body>
<h1>Інформація з шаблону</h1>
{% block content -%}
    {%- block mainmenu -%}
<li><a href="{{url_for('index')}}">ex</a></li>
<li><a href="{{url_for('add_post')}}">add post</a></li>
    {% endblock mainmenu -%}
{% endblock %}
</body>
</html>